<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>예매하기</title>
<link rel="stylesheet" th:href="@{/css/book.css}" media="all">
<script th:src="@{/js/jquery-1.12.4.js}"></script>
<script th:src="@{/js/jquery-ui.1.12.1.js}"></script>
<script th:src="@{/js/gsaps.js}"></script>
<script th:src="@{/js/jquery.mCustomScrollbar.concat.min.js}"></script>
<script th:src="@{/js/megaboxCom.js}"></script>
<script th:src="@{/js/mega.prototype.js}"></script>
<script th:src="@{/js/commons.js}"></script>
<script th:src="@{/js/bootstrap-custom.js}"></script>
<script th:src="@{/js/bootstrap-select.js}"></script>
<script th:src="@{/js/netfunnel.js}" charset="UTF-8"></script>
<script th:src="@{/js/netfunnel_skin.js}" charset="UTF-8"></script>
<script th:src="@{/js/netfunnel_frm.js}" charset="UTF-8"></script>

<!-- 예매관련 팝업 js -->
<script th:src="@{/js/megabox-simpleBokd.js}"></script>
<script th:src="@{/js/ui.common.js}"></script>
<script th:src="@{/js/front.js}"></script>

<!-- DatePicker -->
<link rel="stylesheet"
	th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{/css/bootstrap-datepicker.css}">
<script th:src="@{https://code.jquery.com/jquery-3.2.1.js}"></script>
<script th:src="@{/js//bootstrap-datepicker.js}"></script>
<th:block th:replace="~{/include/header :: header}">
</head>
<body class="body-iframe">
	<script>
		var dateFinal="date";//선택한 날짜
		var movieTitleFinal = "movieTitle";//선택한 영화
		var cinemaFinal ="cinema";//선택한 극장 지점
		var theaterFinal = "theater";//선택한 관(1~3)
		var startTimeFinal = "startTime";//시작 시간
		var endTimeFinal = "endTime";//종료 시간
		
	</script>
	<div class="body-wrap">
		<div class="main-container" style="padding-bottom: 240px;">
			<div class="page-util">
				<div class="inner-wrap">
					<div class="location">
						<span>Home</span> <a th:href="@{/book}" title="예매 페이지로 이동">예매</a>
						<a th:href="@{/book}" title="빠른예매 페이지로 이동">빠른예매</a>
					</div>
				</div>
			</div>
			<!-- inner-wrap -->
			<div class="inner-wrap"
				style="padding-top: 40px; padding-bottom: 100px;">
				<input type="hidden" id="playDe" name="playDe" value="2022.04.11">
				<input type="hidden" id="crtDe" name="crtDe" value="2022.04.11">

				<form action="" method="post" name="myForm">
					<!-- quick-reserve -->
					<div class="quick-reserve">
						<div class="tit-util">
							<h2 class="tit">빠른예매</h2>
						</div>

						<div class="mege-quick-reserve-inculde">
							<!-- time-schedule -->
							<div class="time-schedule quick">
								<div class="wrap">
									<!-- 이전날짜 -->
									<button type="button" title="이전 날짜 보기" class="btn-pre"
										disabled="true">
										<i class="iconset ico-cld-pre"></i> <em>이전</em>
									</button>
									<!--// 이전날짜 -->
									<div class="date-list">
										<!-- 년도, 월 표시 -->
										<div class="year-area">
											<div class="year" style="left: 30px; z-index: 1; opacity: 1;">2023.07</div>
											<div class="year"
												style="left: 450px; z-index: 1; opacity: 0;"></div>
										</div>
										<div class="date-area" id="formDeList">
											<div class="wrap"
												style="position: relative; width: 2100px; border: none; left: -70px;">
												<button class="disabled holi" type="button" tabindex="-1">
													<span class="ir">2023/07/</span><em
														style="pointer-events: none;"><span
														style="pointer-events: none;" class="ir"></span></em><span
														class="day-kr"
														style="pointer-events: none; display: inline-block"></span><span
														class="day-en" style="pointer-events: none; display: none"></span>
												</button>
												<button class="date_btn on" type="button">
													<span class="ir">2023-07-</span> <em
														style="pointer-events: none;"><span class="day">28</span><span
														style="pointer-events: none;" class="ir">일</span></em><span
														class="day-kr"
														style="pointer-events: none; display: inline-block">오늘</span>
													<span class="day-en"
														style="pointer-events: none; display: none">Fri</span>
												</button>
												<button class="date_btn" type="button">
													<span class="ir">2023-07-</span><em
														style="pointer-events: none;"><span class="day">29</span><span
														style="pointer-events: none;" class="ir">일</span></em><span
														class="day-kr"
														style="pointer-events: none; display: inline-block">내일</span><span
														class="day-en" style="pointer-events: none; display: none">Sat</span>
												</button>
												<button class="date_btn" type="button">
													<span class="ir">2023-07-</span><em
														style="pointer-events: none;"><span class="day">30</span><span
														style="pointer-events: none;" class="ir">일</span></em><span
														class="day-kr"
														style="pointer-events: none; display: inline-block">일</span><span
														class="day-en" style="pointer-events: none; display: none">Sun</span>
												</button>
												<button class="date_btn" type="button">
													<span class="ir">2023-07-</span><em
														style="pointer-events: none;"><span class="day">31</span><span
														style="pointer-events: none;" class="ir">일</span></em><span
														class="day-kr"
														style="pointer-events: none; display: inline-block">월</span><span
														class="day-en" style="pointer-events: none; display: none">Mon</span>
												</button>
												<button class="disabled" type="button">
													<span class="ir">2023-08-</span><em
														style="pointer-events: none;">1<span
														style="pointer-events: none;" class="ir">일</span></em><span
														class="day-kr"
														style="pointer-events: none; display: inline-block">화</span><span
														class="day-en" style="pointer-events: none; display: none">Tue</span>
												</button>
												<button class="disabled sat" type="button">
													<span class="ir">2023-08-</span><em
														style="pointer-events: none;">2<span
														style="pointer-events: none;" class="ir">일</span></em><span
														class="day-kr"
														style="pointer-events: none; display: inline-block">수</span><span
														class="day-en" style="pointer-events: none; display: none">Wed</span>
												</button>
												<button class="disabled holi" type="button">
													<span class="ir">2023-08-</span><em
														style="pointer-events: none;">3<span
														style="pointer-events: none;" class="ir">일</span></em><span
														class="day-kr"
														style="pointer-events: none; display: inline-block">목</span><span
														class="day-en" style="pointer-events: none; display: none">Thu</span>
												</button>
												<button class="disabled" type="button">
													<span class="ir">2023-08-</span><em
														style="pointer-events: none;">4<span
														style="pointer-events: none;" class="ir">일</span></em><span
														class="day-kr"
														style="pointer-events: none; display: inline-block">금</span><span
														class="day-en" style="pointer-events: none; display: none">Fri</span>
												</button>
												<button class="disabled" type="button">
													<span class="ir">2023-08-</span><em
														style="pointer-events: none;">5<span
														style="pointer-events: none;" class="ir">일</span></em><span
														class="day-kr"
														style="pointer-events: none; display: inline-block">토</span><span
														class="day-en" style="pointer-events: none; display: none">Sat</span>
												</button>
												<button class="disabled" type="button">
													<span class="ir">2023-08-</span><em
														style="pointer-events: none;">6<span
														style="pointer-events: none;" class="ir">일</span></em><span
														class="day-kr"
														style="pointer-events: none; display: inline-block">일</span><span
														class="day-en" style="pointer-events: none; display: none">Sun</span>
												</button>
												<button class="disabled" type="button">
													<span class="ir">2023-08-</span><em
														style="pointer-events: none;">7<span
														style="pointer-events: none;" class="ir">일</span></em><span
														class="day-kr"
														style="pointer-events: none; display: inline-block">월</span><span
														class="day-en" style="pointer-events: none; display: none">Mon</span>
												</button>
												<button class="disabled" type="button">
													<span class="ir">2023-08-</span><em
														style="pointer-events: none;">8<span
														style="pointer-events: none;" class="ir">일</span></em><span
														class="day-kr"
														style="pointer-events: none; display: inline-block">화</span><span
														class="day-en" style="pointer-events: none; display: none">Tue</span>
												</button>
												<button class="disabled sat" type="button">
													<span class="ir">2023-08-</span><em
														style="pointer-events: none;">9<span
														style="pointer-events: none;" class="ir">일</span></em><span
														class="day-kr"
														style="pointer-events: none; display: inline-block">수</span><span
														class="day-en" style="pointer-events: none; display: none">Wed</span>
												</button>
												<button class="disabled holi" type="button">
													<span class="ir">2023-08-</span><em
														style="pointer-events: none;">10<span
														style="pointer-events: none;" class="ir">일</span></em><span
														class="day-kr"
														style="pointer-events: none; display: inline-block">목</span><span
														class="day-en" style="pointer-events: none; display: none">Thu</span>
												</button>
												<button class="disabled" type="button" tabindex="-1">
													<span class="ir">2023-08-</span><em
														style="pointer-events: none;">11<span
														style="pointer-events: none;" class="ir">일</span></em><span
														class="day-kr"
														style="pointer-events: none; display: inline-block">금</span><span
														class="day-en" style="pointer-events: none; display: none">Fri</span>
												</button>
											</div>
										</div>
									</div>

									<!-- 다음날짜 -->
									<button type="button" title="다음 날짜 보기" class="btn-next"
										disabled="true">
										<i class="iconset ico-cld-next"></i> <em>다음</em>
									</button>
									<!--// 다음날짜 -->

									<!-- 달력보기 -->
									<div class="bg-line">
										<input type="hidden" id="datePicker" value="2023-07-19"
											class="hasDatepicker">
										<button type="button" id="calendar" th:onclick=""
											class="btn-calendar-large" title="달력보기">달력보기</button>
									</div>

									<script>
										$(function() {
											$('#datePicker')
													.datepicker(
															{
																format : "yyyy-mm-dd", //데이터 포맷 형식(yyyy : 년 mm : 월 dd : 일 )
																startDate : '-10d', //달력에서 선택 할 수 있는 가장 빠른 날짜. 이전으로는 선택 불가능 ( d : 일 m : 달 y : 년 w : 주)
																endDate : '+10d', //달력에서 선택 할 수 있는 가장 느린 날짜. 이후로 선택 불가 ( d : 일 m : 달 y : 년 w : 주)
																autoclose : true, //사용자가 날짜를 클릭하면 자동 캘린더가 닫히는 옵션
																calendarWeeks : false, //캘린더 옆에 몇 주차인지 보여주는 옵션 기본값 false 보여주려면 true
																clearBtn : false, //날짜 선택한 값 초기화 해주는 버튼 보여주는 옵션 기본값 false 보여주려면 true
																datesDisabled : [
																		'2019-06-24',
																		'2019-06-26' ],//선택 불가능한 일 설정 하는 배열 위에 있는 format 과 형식이 같아야함.
																daysOfWeekDisabled : [
																		0, 6 ], //선택 불가능한 요일 설정 0 : 일요일 ~ 6 : 토요일
																daysOfWeekHighlighted : [ 3 ], //강조 되어야 하는 요일 설정
																disableTouchKeyboard : false, //모바일에서 플러그인 작동 여부 기본값 false 가 작동 true가 작동 안함.
																immediateUpdates : false, //사용자가 보는 화면으로 바로바로 날짜를 변경할지 여부 기본값 :false 
																multidate : false, //여러 날짜 선택할 수 있게 하는 옵션 기본값 :false 
																multidateSeparator : ",", //여러 날짜를 선택했을 때 사이에 나타나는 글짜 2019-05-01,2019-06-01
																templates : {
																	leftArrow : '&laquo;',
																	rightArrow : '&raquo;'
																}, //다음달 이전달로 넘어가는 화살표 모양 커스텀 마이징 
																showWeekDays : true,// 위에 요일 보여주는 옵션 기본값 : true
																title : "테스트", //캘린더 상단에 보여주는 타이틀
																todayHighlight : true, //오늘 날짜에 하이라이팅 기능 기본값 :false 
																toggleActive : true, //이미 선택된 날짜 선택하면 기본값 : false인경우 그대로 유지 true인 경우 날짜 삭제
																weekStart : 0,//달력 시작 요일 선택하는 것 기본값은 0인 일요일 
																language : "ko" //달력의 언어 선택, 그에 맞는 js로 교체해줘야한다.
															});//datepicker end
										});//ready end
									</script>
									<!--// 달력보기 -->
								</div>
							</div>
							<!--// time-schedule -->

							<!-- 날짜 선택했을 때 script -->
							<script>
							const dateLists = document.querySelectorAll('.date_btn');
							dateLists.forEach(item => {
								item.addEventListener('click', () => {
									//다른날짜의 스타일 없애기
									removedateSelected();
									//해당 날짜만 스타일 지정하기
									item.style.backgoundColor="#f7f8f9";
									item.style.borderBottom="2px solid #503396";
									//해당 날짜 값으로 dateFinal 초기화(2023/00/00)형태
									var yearMonth = item.querySelector(".ir");
									var yearMonthData = yearMonth.innerText;
									var day = item.querySelector("em .day");
									var dayData = day.innerText;
									var dateData = yearMonthData+dayData;
									dateFinal = dateData;
									console.log(dateFinal);
								});
							});

							function removedateSelected() {
								dateLists.forEach(item => {
									item.style.backgroundColor="white";
									item.style.borderBottom="none";
							});
							}
							</script>
							<!-- //날짜 선택했을 때 script -->


							<!-- quick-reserve-area -->
							<div class="quick-reserve-area">
								<!-- movie-choice : 영화 선택  -->
								<div class="movie-choice">
									<p class="tit">영화</p>

									<!-- list-area -->
									<div class="list-area">
										<div class="all-list">
											<button type="button" class="btn-tab on" id="moviePopular">최신순</button>
											<div class="list">
												<div class="scroll m-scroll mCustomScrollbar _mCS_1"
													id="movieList">
													<div id="mCSB_1"
														class="mCustomScrollBox mCS-light mCSB_vertical mCSB_inside"
														style="max-height: none;" tabindex="0">
														<div id="mCSB_1_container" class="mCSB_container"
															style="position: relative; top: 0; left: 0;" dir="ltr">
															<ul id="movie_lists">
																<li class="movie_choice_btn"
																	th:each="movie : ${movieList}">
																	<button type="button" class="movie_list btn on">
																		<img class="age_img"
																			th:if="${movie.isAdultMovie eq '1'}"
																			th:src="@{/images/adult.png}" /> <img
																			class="age_img" th:if="${movie.isAdultMovie eq '0'}"
																			th:src="@{/images/all.png}"
																			style="background-color: #98f556; border-radius: 50%;" />
																		<span class="txt" th:text="${movie.movieTitle}">루이스
																			웨인: 사랑을 그린 고양이 화가</span>
																	</button>
																</li>
															</ul>
														</div>
													</div>
												</div>
											</div>
										</div>

									</div>
									<!--// list-area -->

									<script>
										const movieLists = document.querySelectorAll('#movie_lists li');
										movieLists.forEach(item => {
											item.addEventListener('click', () => {
											removeSelectedClass();
											item.classList.add('selected_movie');
											var spanChild=item.querySelector('.movie_list .txt');
											spanChild.classList.add('selected_movie_title');
											
											var movieTitle= spanChild.innerText;
											movieTitleFinal = movieTitle;
											console.log(movieTitleFinal);
											const moviespan = document.querySelectorAll('.movie_title_time');
											for(var i=0; i<moviespan.length; i++){
												moviespan[i].innerText = movieTitle;
											}
											});
											
										});
	
										function removeSelectedClass() {
											movieLists.forEach(item => {
												item.classList.remove('selected_movie');
												var spanChild=item.querySelector('.movie_list .txt');
												spanChild.classList.remove('selected_movie_title');
        								});
    									}
									</script>

									<!-- view-area -->
									<div class="view-area">
										<!-- 영화 선택 하지 않았을 때 -->
										<div class="choice-all" id="choiceMovieNone"
											style="display: none;">
											<strong>모든영화</strong> <span>목록에서 영화를 선택하세요.</span>
										</div>
									</div>
									<!--// view-area -->
								</div>
								<!--// movie-choice : 영화 선택  -->

								<!-- theater-choice : 극장 선택  -->
								<div class="theater-choice">
									<div class="tit-area">
										<p class="tit">극장</p>
									</div>

									<!-- list-area -->
									<div class="list-area" id="brchTab">
										<!-- all-list : 전체 -->
										<div class="all-list">
											<button type="button" class="btn-tab on">전체</button>
											<div class="list">
												<div class="scroll" id="brchList">
													<ul>
														<li>
															<button th:each="cinema : ${cinemaList}" type="button"
																id="cinema_location" class="btn on">
																<span class="txt" th:text="${cinema.cinemaLocation}">서울</span>
															</button>
															<div class="depth on">
																<div
																	class="detail-list m-scroll area-cd10 mCustomScrollbar _mCS_4">
																	<div id="mCSB_4"
																		class="cinema_name_list mCustomScrollBox mCS-light mCSB_vertical mCSB_inside"
																		style="height: 28px; background-color: #ebebeb;"
																		tabindex="0">
																		<div id="mCSB_4_container" class="mCSB_container"
																			style="position: relative; top: 0; left: 0;"
																			dir="ltr">
																			<ul>
																				<li style="vertical-align: middle; margin: 4px;">
																					<span id="cinema_name" type="button" class="on">혜화점</span>
																				</li>
																			</ul>
																		</div>
																	</div>
																</div>
															</div>
														</li>
													</ul>
												</div>
											</div>
										</div>
									</div>
									<!--// list-area -->

									<script>									
										const cinemaLists = document.querySelectorAll('#cinema_location');
										const cinemaName = document.querySelector('.cinema_name_list');
										
										for(var i=0; i<cinemaLists.length; i++){
											cinemaLists[i].addEventListener('click', function(){
												var oneCinema = this.querySelector('.txt');
												const cinemaLocation = oneCinema.innerText;
												cinemaName.style.backgroundColor="#ebebeb";
												cinemaName.style.color="black";
												$.ajax({
													url: "/book/cinema",
													async: true,
													method: "GET",
													data: {cinemaLocation: cinemaLocation},
													success: function(data){
														const cinemaButton =document.querySelector('#cinema_name');
														cinemaButton.innerText=data[0];
													},
													error: function(error){
														console.log("error: ", error)
													}
												});
											});
										}
										
										
										
										
									</script>


								</div>
								<!--// theater-choice : 영화관 선택  -->

								<!-- time-choice : 상영시간표 선택 -->
								<div class="time-choice">
									<div class="tit-area">
										<p class="tit">시간</p>

										<div class="right legend">
											<i class="iconset ico-sun" title="조조"></i> 조조 <i
												class="iconset ico-brunch" title="브런치"></i> 브런치 <i
												class="iconset ico-moon" title="심야"></i> 심야
										</div>
									</div>


									<!-- movie-schedule-area : 시간표 출력 영역-->
									<div class="movie-schedule-area">

										<!-- 영화, 영화관 선택 안했을때 -->
										<!---->
										<div class="no-result" id="playScheduleNonList"
											style="display: none;">
											<i class="iconset ico-movie-time"></i>
											<p class="txt">
												영화와 극장을 선택하시면<br> 상영시간표를 비교하여 볼 수 있습니다.
											</p>
										</div>


										<!-- 영화, 영화관 선택 했을때 -->
										<div class="result">
											<div
												class="scroll m-scroll mCustomScrollbar _mCS_16 mCS_no_scrollbar"
												id="playScheduleList">
												<div id="mCSB_16"
													class="mCustomScrollBox mCS-light mCSB_vertical mCSB_inside"
													style="max-height: none;" tabindex="0">
													<div id="mCSB_16_container"
														class="mCSB_container mCS_no_scrollbar_y"
														style="position: relative; top: 0; left: 0;" dir="ltr">
														<ul class="movie_schedule_list">
														</ul>
													</div>

												</div>
											</div>

										</div>
									</div>
									<!--// movie-schedule-area : 시간표 출력 영역-->
									<script>
									cinemaName.addEventListener('click', function(){
										this.style.backgroundColor="#000048";
										this.style.color="white";
										var cinema = cinemaName.innerText;
										console.log(cinema);
										cinemaFinal = cinemaName.innerText;
										
										$.ajax({
											url: "/book/schedule",
											method: "GET",
											data: {
												selectedDate: dateFinal,
												movieTitle: movieTitleFinal,
												cinemaName: cinemaFinal},
											type: "json",
											success: function(data){
												const movieScheduleList = document.querySelector(".movie_schedule_list");//ul
												const scheduleList = data["scheduleList"];
												
												for(var i=0; i<scheduleList.length; i++){
													console.log(scheduleList[i].scheduleId);
													const childSchedule = document.createElement("li");
													childSchedule.className = "movie_time";
													
													var startTime = "";
													var endTime="";
													switch (scheduleList[i].time) {
													  	case 1:
														  	startTime="09:00";
														  	endTime="10:30";
														    break;
														case 2:
															startTime="11:00";
															endTime="12:30";
														    break;
														case 3:
														  	startTime="13:00";
														  	endTime="14:30";
														    break;
														case 4:
															startTime="15:00";
															endTime="16:30";
														    break;
														case 5:
														  	startTime="17:00";
														  	endTime="18:30";
														    break;
														case 6:
															startTime="19:00";
															endTime="20:30";
														    break;
														default:
														    
														}
													childSchedule.innerHTML = 
														'<button type="button" class="btn on">'+
															'<div class="legend"></div>'+
															'<span class="time">'+
																'<strong class="start_time" title="상영 시작">'+
																	startTime +
																'</strong>'+
																'<em title="상영 종료">~<span class="end_time">'+
																	endTime+
																'</span></em>'+
															'</span>'+
															'<span class="title">'+
																'<strong class="movie_title_time">'+
																	scheduleList[i].movieTitle+
																'</strong>'+
																'<em>2D(자막)</em>'+
															'</span>'+
															'<div class="info">'+
																'<div style="display:flex;margin-left: 80px;">'+
																'<span class="theater" title="극장">'+
																	scheduleList[i].theaterId+'</span>'+
																'<span style="display:block;">'+"관"+'</span>'+
																'</div>'+
																'<span class="seat">'+
																'<strong class="now" title="잔여 좌석">83</strong>'+
																'<span>/</span>'+
																'<em class="all" title="전체 좌석">118</em>'+
																'</span>'+
															'</div>'+
														'</button>';
													movieScheduleList.append(childSchedule);
												}
												
												const movieTimeList = document.querySelectorAll('.movie_time');
												
												movieTimeList.forEach(item => {
													item.addEventListener('click',()=>{
														
														//좌석 선택 보이게 함.
														var seatChoiceBtn = document.querySelector('.seat_choice_btn_wrap');
														seatChoiceBtn.style.display="flex";
														
														//클릭한거만 스타일 지정하기
														removeBackground();
														item.style.backgroundColor="#ebebeb";
														
														//값 가져와서 저장하기
														var startTime = item.querySelector('.start_time');
														var endTime= item.querySelector('.end_time');
														var theater =item.querySelector('.theater');
														startTimeFinal = startTime.innerText;
														endTimeFinal = endTime.innerText;
														theaterFinal = theater.innerText;
														
														console.log(startTimeFinal, endTimeFinal, theaterFinal);
														
														$.ajax({
															url: "/book/choiceAll",
															async: true,
															method: "GET",
															data: {
																dateFinal: dateFinal,
																movieTitleFinal: movieTitleFinal,
																cinemaFinal: cinemaFinal,
																theaterFinal: theaterFinal,
																startTimeFinal: startTimeFinal,
																endTimeFinal: endTimeFinal
															},
															success: function(data){
																console.log(data);
															},
															error: function(error){
																console.log("error: ", error)
															}
														});
													});
												});
												
												function removeBackground() {
													movieTimeList.forEach(item => {
														item.style.backgroundColor = "";
			    									});
												}
											
											},
											error: function(error){
												console.log("error: ", error)
											}
										});
									});
									</script>

								</div>
								<!--// time-choice : 상영시간표 선택 -->
							</div>
							<!--// quick-reserve-area -->
						</div>
						<!--// mege-quick-reserve-inculde : 다른 페이지에서 iframe 으로 설정될 영역 -->
					</div>
					<!--// quick-reserve -->
					<div class="seat_choice_btn_wrap"
						style="display: none; justify-content: center; width: 100%; height: 100px; margin: 10px 0 10px 0;">
						<button class="seat_choice_btn"
							style="border-radius: 5px; width: 20%; height: 80px; background-color: #000048; text-align: center;">
							<div style="font-size: 200%; color: white; font-weight: bold;">
								<a style="text-decoration: none; color:white;" href="/booking2">좌석 선택</a></div>
						</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	<!-- footer -->
	<footer th:replace="~{/include/footer :: footer}"></footer>
</body>
</html>