<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<!-- CSS -->
<link rel="stylesheet" th:href="@{/css/adminMovieList.css}">
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{/css/owl.carousel.min.css}">
<link rel="stylesheet" th:href="@{/css/admin-movie-list-style.css}">
<link rel="stylesheet" th:href="@{/css/home.css}">
<th:block th:replace="~{/include/header :: header}">
	<meta charset="UTF-8">
	<meta name="viewport"
		content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- FONT -->
	<link
		href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap"
		rel="stylesheet">

	<!-- JS -->
	<script th:src="@{/static/js/movie/bootstrap.min.js}"></script>
	<script th:src="@{/static/js/movie/jquery-3.3.1.min.js}"></script>
	<script th:src="@{/static/js/movie/main.js}"></script>
	<script th:src="@{/static/js/movie/owl.carousel.min.js}"></script>
	<script th:src="@{/static/js/movie/popper.min.js}"></script>
	<script src="../static/js/movie/adminMovieList.js"></script>
	<script src="http://code.jquery.com/jquery-lastest.min.js"></script>




	<title>상영 영화 목록</title>
</head>
<body>

	<div class="content">

		<div >
			<p class="mb-5" id="table_title">상영 영화 목록</p>
		</div>
		<div id="sidebar"></div>

		<div class="container" id="movie_list_container">


			<div class="table-responsive custom-table-responsive">

				<table class="table custom-table">
					<thead>
						<!-- 제목 행 -->
						<tr>
							<th scope="col"><label class="control control--checkbox">
									<input type="checkbox" class="js-check-all" />
									<div class="control__indicator"></div>
							</label></th>
							<th scope="col">아이디</th>
							<th scope="col">카테고리</th>
							<th scope="col">영화명</th>
							<th scope="col">상영 시작일</th>
							<th scope="col">상영 종료일</th>
							<th scope="col">상영여부</th>
							<th scope="col">수정</th>
						</tr>
					</thead>
					<tbody>

						<!-- 1행 -->
						<tr scope="row">
							<th scope="row"><label class="control control--checkbox">
									<input type="checkbox" />
									<div class="control__indicator"></div>
							</label></th>
							<td>1392</td>
							<td><a href="#">James Yates</a></td>
							<td>Web Designer <small class="d-block">Far far
									away, behind the word mountains</small>
							</td>
							<td>+63 983 0962 971</td>
							<td>NY University</td>
							<td>NY University</td>
							<td>NY University</td>
						</tr>


						<tr class="spacer">
							<td colspan="100"></td>
						</tr>

						<!-- 2행 -->
						<tr class="active">
							<th scope="row"><label class="control control--checkbox">
									<input type="checkbox" checked="" />
									<div class="control__indicator"></div>
							</label></th>

							<td>4616</td>
							<td><a href="#">Matthew Wasil</a></td>
							<td>Graphic Designer <small class="d-block">Far far
									away, behind the word mountains</small>
							</td>
							<td>+02 020 3994 929</td>
							<td>London College</td>
							<td>London College</td>
							<td>London College</td>
						</tr>

						<tr class="spacer">
							<td colspan="100"></td>
						</tr>

						<!-- 3행 -->
						<tr>
							<th scope="row"><label class="control control--checkbox">
									<input type="checkbox" />
									<div class="control__indicator"></div>
							</label></th>

							<td>9841</td>
							<td><a href="#">Sampson Murphy</a></td>
							<td>Mobile Dev <small class="d-block">Far far away,
									behind the word mountains</small>
							</td>
							<td>+01 352 1125 0192</td>
							<td>Senior High</td>
							<td>Senior High</td>
							<td>Senior High</td>
						</tr>

						<tr class="spacer">
							<td colspan="100"></td>
						</tr>

						<!-- 4행 -->
						<tr>
							<th scope="row"><label class="control control--checkbox">
									<input type="checkbox" />
									<div class="control__indicator"></div>
							</label></th>

							<td>9548</td>
							<td><a href="#">Gaspar Semenov</a></td>
							<td>Illustrator <small class="d-block">Far far away,
									behind the word mountains</small>
							</td>
							<td>+92 020 3994 929</td>
							<td>College</td>
							<td>College</td>
							<td>College</td>
						</tr>

						<tr class="spacer">
							<td colspan="100"></td>
						</tr>

						<!-- 5행 -->
						<tr>
							<th scope="row"><label class="control control--checkbox">
									<input type="checkbox" />
									<div class="control__indicator"></div>
							</label></th>

							<td>9548</td>
							<td><a href="#">Gaspar Semenov</a></td>
							<td>Illustrator <small class="d-block">Far far away,
									behind the word mountains</small>
							</td>
							<td>+92 020 3994 929</td>
							<td>College</td>
							<td>College</td>
							<td>College</td>
						</tr>

					</tbody>
				</table>
			</div>


		</div>

	</div>



	<script src="js/jquery-3.3.1.min.js"></script>
	<script src="js/popper.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/main.js"></script>

	<div>
		<footer th:replace="~{/include/footer :: footer}"></footer>
	</div>
</body>
</html>