<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" th:href="@{/css/insertMovie.css}">
<script src="http://code.jquery.com/jquery-lastest.min.js"></script>
<link rel="stylesheet" th:href="@{/css/2column-result.css}">
<th:block th:replace="~{/include/header :: header}">
	<link rel="stylesheet" th:href="@{/css/home.css}">
	<meta charset="UTF-8">
	<title>Insert title here</title>
</head>
<body>


	<div id="container">
		<aside id="sidebar">
			<h2>사이드바</h2>
		</aside>
		<section id="contents">
			<h1>영화 등록</h1>
			<div th:text="${message}"></div>

			<form th:action="@{/movie/insert}" method="post"
				enctype="multipart/form-data">
				<div id="wrapper">
					<div class="box box1 label">영화 아이디</div>
					<div class="box box2 ">
						<input type="text" name="movieId" required>
					</div>
					<div class="box box3 label">영화명</div>
					<div class="box box4">
						<input type="text" name="movieTitle" required>
					</div>
					<div class="box box5 label">카테고리</div>
					<div class="box box6">
						<select name="movieCategory">
							<option value="로맨스">로맨스</option>
							<option value="액션">액션</option>
							<option value="코미디">코미디</option>
							<option value="애니메이션">애니메이션</option>
							<option value="공포">공포</option>
						</select>
					</div>
					<div class="box box7 label">상영 시작일</div>
					<div class="box box8">
						<input type="date" name="openingDate" required>
					</div>
					<div class="box box9 label">상영 종료일</div>
					<div class="box box10">
						<input type="date" name="closingDate" required>
					</div>
					<div class="box box21 label">시청 연령</div>
					<div class="box box22">
						<select name="isAdultMovie">
							<option value="0">전연령</option>
							<option value="1">성인</option>
						</select>
					</div>
					<div class="box box11 label">상영 소요시간</div>
					<div class="box box12">
						<input type="number" name="runningTime" required>
					</div>
					<div class="box box13 label">감독</div>
					<div class="box box14">
						<input type="text" name="movieDirector" required>
					</div>
					<div class="box box15 label">포스터 업로드</div>
					<div class="box box16">
						<input type="file" name="moviePoster" required>
					</div>
					<div class="box box17 label">출연진</div>
					<div class="box box18">
						<input type="text" name="performer" required>
					</div>
					<div class="box box19 label">줄거리</div>
					<div class="box box20">
						<textarea name="movieSynopsis" cols="107" rows="7" required></textarea>
					</div>
				</div>
				<button type="submit">등록하기</button>
				<input type="reset" value="취소하기">
			</form>

		</section>
	</div>
	<div>
		<footer th:replace="~{/include/footer :: footer}"></footer>
	</div>


</body>
</html>