<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
 <th:block th:replace="~{/include/header :: header}">
 </th:block>
 </head>
<title>마이페이지</title>
<body>
	<div class="main_wrap" style="width:99.4%;  border: solid purple 5px; height:500px; margin-top:60px;">
		<div class="main_container" style="position:relative; margin:20px auto 20px auto; height:80%; width:60%; border:solid blue 5px;">
		
			<div class="page_title_container" style="position:absolute; left:20%; border:solid green 5px;">
				<h1>마이페이지</h1>
			</div><!-- pageTitleContainer div -->
		
			<div class="user_inform_container" style="width:500px; height:250px; float:right; position:relative; top:50px; right:250px; border:solid yellow 5px;">
			
				<div class="user_profile" style="position:absolute; width:150px; height:150px; border:solid orange 5px;">
					<img src="./images/unknown.png" style="width:100px;">
				</div>
				<div class="user_inform" style="width:250px;height:150px; position:absolute; left:200px; top: 50px; border:solid black 2px;">
					<th:h1>회원ID:userId</th:h1><br>
					<th:h1>회원이름:userName</th:h1><br>
					<th:h1>회원나이:userAge</th:h1><br>
					<th:h1>회원생일:userBirthDate</th:h1>
				</div>
			</div><!-- userInformContainer div  -->
		
		
			<div class="left_menu_container"  style=" float:left; width:15%; border: solid red 5px;">
				<ul class="mypage_list">
					<li>예매확인</li>
					<li>회원정보</li>	
					<li>회원탈퇴</li>				
				</ul>
			</div> <!-- 좌측 세로메뉴바 div -->
			<div class="button_container" style="border:solid purple 2px; position:absolute; left:50%; bottom:50px; ">
				<button class="button1" style="margin-right:10px;">정보수정하기</button>
				<button class="button1" >저장하기</button>
			</div><!-- button_container div -->
		</div><!-- main_container div  -->
	</div><!-- main_wrap div -->

	
<footer th:replace="~{/include/footer :: footer}"></footer>
</body>
</html>