@charset "UTF-8";

/* header부분 */
h1 {
	left: 120px;
}

/* body-wrap부분 */
.container {
	padding: 0 !important;
	margin: 0 !important;
}

/* #contents.location-fixed {
    padding-top: 50px !important;
} */
#footer {
	height: 300px !important;
}

.body-wrap {
	height: auto !important;
	margin: 10px 0;
}

#footer .container {
	margin: 0 auto !important;
}

.board-form td>input, select {
	height: 35px !important;
	padding: 0 5px !important;
	border-radius: 7px !important;
}

/* 캘린더 부분 */
/* .black {
	background-color: #503396 !important;
	width: 50%;
	height: 100%;
} */

.time-schedule .wrap {
	height: 110px !important;
}

.time-schedule .date-list {
	width: 700px !important;
}

.time-schedule .year {
	left: 710px !important;
}

#first-year {
	left: 30px !important;
}

.date-list {
	display: flex; /* Flexbox로 내부 요소들을 가로로 배열 */
	/* justify-content: space-between; 요소들 사이의 공간을 균등하게 배분 */
	height: 70px;
}

.date-list button {
	margin: 5px;
	flex-grow: 1; /* 버튼들이 동일한 크기로 확장됨 */
	font-size: 15px;
	flex-grow: 1;
}

/* .date-list .selected {
	background-color: #503396 !important;
	color: white !important;
} */

/* CSS 스타일 시트에 추가 */
.date-list button.selected {
	background-color: #503396 !important;
	color: white !important;
}

.date-list button.today {
	background-color: #f7f3a6;
	font-weight: bold;
	color: black;
}

.ui-dialog.ui-corner-all.ui-widget.ui-widget-content.ui-front.ui-dialog-buttons.ui-draggable.ui-resizable
	{
	/* 여기에 클래스들에 대한 스타일을 추가합니다 */
	width: 330px !important;
}

.period-display .period {
	margin: 1px auto;
	font-size: 17px;
	font-weight: bold;
	width: 80px;
	text-align: center;
	display: block;
}

/* 스케줄 조회 부분 */
li.selected {
	background-color: #fcd656;
	color: white;
	font-weight: bold;
}

.theater-type-box {
	height: 70px;
	border: none !important;
}

.schedule-table {
	width: 100%;
	border-collapse: collapse;
}

.schedule-table th, .schedule-table td {
	/* border: 1px solid black; */
	padding: 8px;
	text-align: center;
}

.schedule-table th {
	background-color: #f2f2f2;
}

[data-theater-name] {
	/* Change the background color to your desired color */
	margin: 5px !important; /* Change the margin to your desired value */
	height: 70px;
}

[data-theater-name]>div {
	background-color: #f2f2f2;
	height: 90%;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}

.schedule-table td {
	margin: 5px !important; /* 원하는 간격 크기로 조정합니다 */
}

.schedule-table tr {
	border-top: 0.1px solid black;
	border-bottom: 0.1px solid black;
}

tr>* {
	border: none !important; /* 모든 <td>와 <th> 요소에 대해 테두리 없음을 적용합니다. */
}

#cinema, #cinema th {
	border: none;
	background-color: white;
}

/* 스케줄 등록 부분 */
.reserve.theater-list-box {
	margin-bottom: 100px;
}

#selectedCinema select {
	
}

.theater-name {
	text-align: center;
	width: 100%;
	margin: 0 !important;
	display: flex; /* Flexbox를 활성화합니다. */
	justify-content: center; /* 수평 가운데 정렬 */
	align-items: center; /* 수직 가운데 정렬 */
	height: -webkit-fill-available;
}

.theater-type {
	width: 100% !important;
	margin: 0 auto !important;
	height: 100%;
	top: 0px !important;
}

#selectedCinema label {
	margin-bottom: 5px;
	margin-right: 3px;
}

.period-display {
	height: 30px;
}

/* 상영 시간 등록 */
.btn-group, .pt40 {
	margin-bottom: 100px !important;
}

/* 자동완성 */
#movieListDropdown {
	width: 240px;
	border-radius: 20px;
	border: 1px black;
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	list-style: none;
	padding: 0;
	margin: 10px;
	/* border: 1px solid #ccc; */
	z-index: 1;
}

#movieListDropdown button {
	width: 100%;
	padding: 3px;
}

/* 모달창 */
.modal-dialog {
	margin-top: 10%;
}

.ui-dialog-buttonset {
	left: -20px;
	position: relative;
}

#confirmDeleteModal {
	display: none;
}