@charset "UTF-8";

/* header부분 */
h1 {
	left: 120px;
}

/* body-wrap부분 */
.container {
	padding: 0 !important;
	margin: 0 !important;
}

/* #contents.location-fixed {
    padding-top: 50px !important;
} */
#footer {
	height: 300px !important;
}

.body-wrap {
	height: auto !important;
	margin: 10px 0;
}

#footer .container {
	margin: 0 auto !important;
}

.board-form td>input, select {
	height: 35px !important;
	padding: 0 5px !important;
	border-radius: 7px !important;
}

/* 캘린더 부분 */
.time-schedule .date-list {
	width: 700px !important;
}

.time-schedule .year {
	left: 710px !important;
}

#first-year {
	left: 30px !important;
}

/* 영화관 부분 */
.reserve.theater-list-box {
	margin-bottom: 100px;
}

#selectedCinema select {
	margin-right: 30px;
} 

#selectedCinema label {
	margin-bottom: 5px;
	margin-right: 3px;
}

/* 상영 시간 등록 */
.btn-group, .pt40 {
	margin-bottom: 100px !important;
}

/* 자동완성 */
#movieListDropdown  {
	width: 240px;
	border-radius: 20px;
	border: 1px black;
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	list-style: none;
	padding: 0;
	margin: 10px;
	/* border: 1px solid #ccc; */
	z-index: 1;
}

#movieListDropdown button {
	width: 100%;
	padding: 3px;
}

/* input 요소에 포커스가 갈 때 드롭다운 메뉴를 보여줍니다 */
/* #movieNameInput:focus+#movieListDropdown {
	display: block;
} */