<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.kcccinema.repository.mypage.IMypageUserRepository">

<select id="selectUser" parameterType="string" resultType="com.example.kcccinema.vo.mypage.MypageUserVO">
	
	<![CDATA[
		SELECT
			user_id			as "userId",
			user_name		as "userName",
			user_age		as "userAge",
			user_birth_date	as "userBirthDate"
		FROM
			Users
		WHERE user_id = #{userId}
	]]>
</select>

<update id="updateUser" parameterType="com.example.kcccinema.vo.mypage.MypageUserVO">
	<![CDATA[
		UPDATE USERS
		SET
			user_name		=	#{userName}, 
			user_age		=	#{userAge},
			user_birth_date	=	#{userBirthDate}
		WHERE
			user_id = #{userId}
			
	]]>
	
</update>
<delete id="deleteMember" parameterType="com.example.kcccinema.vo.mypage.MypageUserVO">
<![CDATA[
	DELETE FROM
		Users
	WHERE
		user_id	= #{userId} AND user_password=#{userPassword}

]]>
</delete>
<select id="getPassword" parameterType="String" resultType="String">
	<![CDATA[
	SELECT
		user_password as "userPassword"
	FROM
		USERS
	WHERE user_id = #{userId}
	]]>
</select>

</mapper>