<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="header">
    <meta charset="UTF-8">
    <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title th:text="#{title}">KCCCINEMA</title>
    
    <!-- CSS -->
    <link rel="stylesheet" th:href="@{/css/reset.css}">
    <link rel="stylesheet" th:href="@{/css/home.css}">
    <link rel="stylesheet" th:href="@{/css/swiper.css}">
    <link rel="stylesheet" th:href="@{/css/login.css}">
    <link rel="stylesheet" th:href="@{/css/signup.css}">
    
    <!-- 파비콘 -->
	<link rel="shortcut icon" th:href="@{/images/favicon.png}">
    
    <!-- 웹 폰트 -->
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR:100,300,400,500,700,900&amp;subset=korean" rel="stylesheet">
</head>
<body>
    
    <header id="header">
        <div class="container">
            <div class="row">
                <div class="header clearfix">
                    <h1>
                        <a href="/">
                            <em><img src="/images/logo.png" alt="KCCCINEMA"></em>
                        </a>
                    </h1>
                    <input type="checkbox" id="side_check_box" />
				    <label for="side_check_box">
				      <span></span>
				      <span></span>
				      <span></span>
				    </label>
				    <div id="side_menu">
				      <ul>
				        <li><a href="/admin/movie/list">영화</a></li>
				        <li><a href="/book">예매</a></li>
				        <li><a href="#">이벤트</a></li>
				        <li><a href="/login">로그인</a></li>
				        <li><a href="/signup">회원가입</a></li>
				      </ul>
				    </div>
                    <nav class="nav">
                        <ul class="clearfix">
                            <li><a href="/admin/movie/list">영화</a></li>
                            <li><a href="/book">예매</a></li>
                            <li><a href="#">이벤트</a></li>
                            <li><a href="/login">로그인</a></li>
                            <li><a href="/signup">회원가입</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- //header -->   
</body>
</html>